*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#56A1B9,#56A1B9);
}

input{
width:100%;
padding:14px;
border:1px solid #B6D4E0;
border-radius:10px;
outline:none;
font-size:15px;
}

input:focus{
border:1px solid #3f5efb;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:#3454f5;
color:white;
font-size:22px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#2444dc;
}

a{
color:#3454f5;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}